* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body, html {
    display: flex;
    margin: 0%;
    height: 100%;
    width: 100%;
    background-color: #202020;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-flow: wrap;
    position: relative;
    height: 100vh;
    min-height: max-content;
    width: 100vh;
    background-image: url(../assets/Morgoth-half.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

header {
    display: inline-flex;
    position: absolute;
    justify-content: space-between;
    padding: 2%;
    font-size: xx-large;
    top: 1em;
    right: 2.5em;
    width: 120px;
}

.headerTiffany {
    color: #202020;
    margin-right: 5px;
    padding-right: 7px;
}

.headerHing, .cme, .me, .work {
    color: blanchedalmond;
    padding-left:9px;
}

.nav {
    display: inline-flex;
    position: absolute;
    font-size: xx-large;
    top: 9em;
    right: -9em;
    width: 400px;
}

.aboutMeNav {
    display: inline-flex;
    position: absolute;
    top: -.5em;
    right: 7.5em;
    padding-left: 2px;;
}

.contactNav {
    display: inline-flex;
    position: absolute;
    top: 1.5em;
    right: 7.5em;
    padding-left: 2px;;
}

.workNav {
    display: inline-flex;
    position: absolute;
    top: 3.5em;
    right: 6.7em;
    padding-left: 2px;
}

/* hover glow properties over name on main page */
.aboutMeNav:hover,
.contactNav:hover,
.workNav:hover {
    text-shadow: 0px 0px 7px #abaaac;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    position: relative;
    padding-top: 1%;
    height: 100vh;
    min-height: max-content;
    min-width: 100%;
}

.container2 section {
    display: block;
    flex-direction: row;
    flex-flow: wrap;
    position: relative;
    border: 3px solid black;
    background-color: cornsilk;
    opacity: 70%;
    max-width: 100%;
    min-width: 100%;
    min-height: 300px;
    justify-content: center;
    max-height:auto;
}
/* hover over properties for the body portion of this webpage*/

.aboutMe:hover, .contact:hover, .myWork:hover {
    opacity: 100%;
    transition: all 500ms;
    border: 3px solid blanchedalmond;
}

.aboutMe h2, .contact h2, .myWork h2 {
    display: flex;
    flex-direction: row;
    position: relative;
    padding-left: 2%;
    font-size: 50px;
}

.aboutmetext, .contacttext, .new {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    min-width: 100%;
}

.aboutMe, .contact, .myWork {
    display: flex;
    flex-direction: row;
    position: relative;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    flex-wrap: wrap;
    min-width: 100%;
    min-height: 25%;
    max-height: auto;
}

.aboutMeText2 {
    padding-top: 2%;
    font-size: 125%;
    align-content: center;
}

.myEmail {
    font-size: 200%;
    align-content: center;
}

.emailLink:hover {
    text-shadow: 0px 0px 7px #abaaac;
}

.listedWork {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
    align-content: center;
}

.filler1, .filler2, .filler3 {
    padding: 0px 30px 0px 30px;
    transition: all 1s ease-in-out;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 3%;
}

.filler1 img:hover,
.filler2 img:hover {
    width: 300px;
    border: dimgrey 2px solid;
    filter: none;
}

.filler1 img, .filler2 img {
    border: dimgrey 2px dashed;
    border-radius: 25px;
    filter: grayscale(100%);
}

/*removing bullets from list style type html*/

li {
    list-style-type: none;
}

.caticon {
    max-width: 30px;
    max-height: 30px;
}

.footer {
    display: flex;
    flex-direction: column;
    color: cornsilk;
    padding: 1%;
    max-height: 100px;
    min-height: 100px;
    height: 100px;
    width: 200%;
    align-content: center;
    align-items: center;
    font-size: 15px;
    position: relative;
}

/*remove all default formatting for links, including the shade they take after being clicked*/

a {
    text-decoration: inherit;
    color:inherit
}

a:visited {
    color: inherit;
}

/* media queries for flucuations in screen size */
@media screen and (max-width: 768px) {
    .container {
        max-width: 50%;
    } 
    .listedWork {
        flex-direction: column;
        max-height: min-content;
    }
    .aboutMe {
        max-height: min-content;
        max-width: 50%;
    }
}

@media screen and (min-width: 768px) {

    .container {
        max-width: 50%;
    }
}

